body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #000000;
}
.canvas_container {
  margin: 5% auto 0 auto;
  width: 800px;
  height: 600px;
}
canvas {
  background: #000000;
  border: 1px solid #ffffff;
}

h1 {
  font-family: Arial;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-top: 2%;
}